# Ambiente
.env
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# Flask
instance/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Sistema operacional
.DS_Store
Thumbs.db

# Configurações locais
diversos/env_config
